@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    background-color: #f5f5f5;
    transition: all 0.3s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  .banner h1 {
    font-size: 40px;
    transition: all 0.3s ease-in-out;
  }
  .banner h2 {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  .up p {
    width: 284px;
    margin-top: 9px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
  }

  .up h4 {
    width: 160px;
    margin-top: 33px;
    font-family: Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #343232;
  }
  .banner {
    width: 100%;
    transition: all 0.3s ease-in;
  }
  h3 {
    margin-left: -45px;
    transition: all 0.3s ease-in-out;
  }

  .container {
    flex-direction: column;
    margin-left: 650px;
    margin-top: 200px;
    transition: all 0.3s ease-in-out;
  }
  .up {
    flex-direction: column;
    transition: all 0.3s ease-in-out;
  }
  .down {
    margin-left: -600px;
    margin-top: -150px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
  }
  .geolab {
    margin-left: -90px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
  }
}
